/* 글자 정렬 */
.text-align-center{
  text-align: center;
}
.text-align-end{
  text-align: end;
}
.text-align-justify{
  text-align: justify;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.text-align-start{
  text-align: start;
}
.text-align-inherit{
  text-align: inherit;
}
.text-align-initial{
  text-align: initial;
}
.text-align-unset{
  text-align: unset;
}

/* 글자 들여쓰기 */
.text-indent-10px{
  text-indent: 10px;
}
.text-indent-20px{
  text-indent: 20px;
}

/* 글자 공백 */
.white-space-nowrap{
  white-space: nowrap;
}
.white-space-normal{
  white-space: normal;
}
.white-space-pre{
  white-space: pre;
}
.white-space-pre-line{
  white-space: pre-line;
}
.white-space-pre-wrap{
  white-space: pre-wrap;
}

/* 넘칠때 */
.overflow-scroll{
  overflow: scroll;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-auto{
  overflow: auto;
}
.overflow-clip{
  overflow: clip;
}
.overflow-visible{
  overflow: visible;
}

/* 글자 넘칠때 */
.text-overflow-clip{
  text-overflow: clip;
}
.text-overflow-ellipsis{
  text-overflow: ellipsis;
}
.text-overflow-inherit{
  text-overflow: inherit;
}
.text-overflow-initial{
  text-overflow: initial;
}

/* 테두리 */
.border-1px-solid-black{
  border: 1px solid black;
}
.border-1px-dotted-blue{
  border: 1px dotted blue;
}
.border-5px-double-red{
  border: 5px double red;
}